# required
API_ID='27807470'
API_HASH='d68fb659eb39a6d7de25727ff1248048'

# pyrogram session string (@genstr_robot)
# required
SESSION='BQGoTu4AWm2eK5iWD3xYBN9X862xFC3ho-YlIbZUcBvtP0Mn4pQ_NhxVhJotzxfsDB_kzzLXs6jGV3--HMHUik>

# telegram bot token (from @botfather)
#optional
BOT_TOKEN='8047973942:AAGiJgLv38WDicFQncPFwF8Yw8EtWNLkycg'

# sudo user ids (separate with space)
# optional
SUDOERS='7269251740'

# command prefix (separate with space)
# optional
PREFIX='!'

# default language for the bot in groups
# optional
LANGUAGE='en'

# custom stream quality for the bot in groups
# optional
QUALITY='high'

# default stream mode for the bot in groups
# optional
STREAM_MODE='audio'

# if you want restrict user from playing in groups
# optional
ADMINS_ONLY='False'

# spotify vars (for playing spotify links or playlist)
# optional
SPOTIFY_CLIENT_ID=''
SPOTIFY_CLIENT_SECRET=''
